body {
    background: #343a40;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Roboto;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.sidenav{

}

.sidenavin{
    padding: 15px;
}
